/* MAIN */
* {cursor: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-user-drag:none;}
body{background-size: cover; background-repeat: no-repeat; overflow:hidden; font-family:'Rubik-Light', Arial, Sans-serif, Helvetica; font-weight:300; background-color:#26313d; }
p{margin:0; color:#26313d; font-size:30px; font-family:'Rubik-Light', Arial, Sans-serif, Helvetica;}
h2{font-size:70px; color:#333366; font-weight:300; line-height:100%; margin:130px 0 35px 0;}
h5{color:#26313d; }
.st2{fill:#000;}
:focus {outline:0;}
.hidden{opacity:0; pointer-events:none;}

/* FONTS */
@font-face {
	font-family: 'Rubik-Light';
	src: url('../fonts/Rubik-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Rubik-Light.woff') format('woff'), url('../fonts/Rubik-Light.ttf')  format('truetype'), url('../fonts/Rubik-Light.svg#Rubik-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}

.languages{position: absolute; display: flex; justify-content: center; flex-direction: row; left: 0; right: 0; bottom: 188px; }

	.languages div{position:relative; transition:ease .3s all; margin:0 11px; font-size:18px; border:1px solid #26313d; border-radius:50%; width:60px; height:60px;}
		.languages div.active{border:1px solid #cc0066;}
			.languages div span{top: 50%; position: relative; transition:ease .3s all; transform: translate(0, -50%); float: left; width: 100%;}
				.languages div.active span{color:#cc0066;}


/* VIEW 1 */

.circles{display: flex; flex-direction: row; transform: translate(0%, 50%); padding: 0 95px; justify-content: center; }

.circle{background-color: #a0dae3; position: relative; border-radius: 50%; background-size: contain; background-position: 50% 50%; width: 450px; height: 450px; margin: 0 35px; display: inline-block; text-align: center;}
.circle:first-child{margin-left: 0;}
.circle:last-child{margin-right: 0;}
.content_circle h2{margin: 0;}

.circle h2{font-size: 45px; line-height: 120%; color: #332d71;}

button{font-size:25px; min-height: 60px; min-width:180px; border:none; color:#f1f1ec; font-weight:300; font-family:'Rubik-Light', Arial, Sans-serif, Helvetica; padding: 15px 70px 14px 37px; border-radius:45px; margin-top:57px;}

button[data-button="purple"], button[data-button="video"]{background:#332d71; text-transform: uppercase; position: absolute; bottom: 28px; left: 50%; transform: translate(-50%, -50%); color: #a0dae3;}

button[data-button="purple"]::after, button[data-button="video"]::after{content: ""; background-image: url(../images/play.png); background-repeat: no-repeat; background-size: contain; position: absolute; display: inline-block; background-position: 50% 50%; width: 36px; height: 36px; right: 12px; top: 14px;}


.height100{height: 100%;}
.center_content{display: flex; display: -ms-flexbox; align-items: center; justify-content: center; -ms-flex-pack: center; flex-direction: column;}

button[data-button="home"]{z-index: 2; position: absolute; left: 100px; top: 120px; background: transparent; padding: 0; margin: 0; min-width: 61px; height: 61px; outline: none; appearance: none; -webkit-appearance: none;}
#playBtn{position: absolute; top: 50%; transform: translateY(-50%); left: 0; right: 0; margin: 0 auto;}

#custom-seekbar {
	background-color: rgba(23, 29, 37, 0.4);
	overflow: hidden;
	width: 1000px;
	padding: 0 37px;
	height: 69px;
	left: 0;
	right: 0;
	margin: 0 auto;
	position: absolute;
	bottom: 71px;
	z-index: 2;
}

#custom-seekbar #seeker-line{
	width: 100%;
	background-color: #fff;
	height: 3px;
	position: relative;
}
#custom-seekbar span
{
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	height: 26px;
	width: 26px;
}

video{width: 100%; height: 100%;}
.progress{position: absolute; top:120px; right: 100px; height: 61px; width: 61px;}
.progress-circle {transform: rotate(-90deg);}
.progress-circle-back {fill: none; stroke: #171d25; stroke-width:2px;}
.progress-circle-prog { fill: none; stroke: #fff; stroke-width: 2px; stroke-dasharray: 0 999; stroke-dashoffset: 0px;}
body[data-language="fi"] .circle:first-child h2{font-size: 40px;}